@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-noto: var(--font-noto-sans-khmer);
  --font-inter: var(--font-inter);
  --color-primary: #3b82f6;
  --color-secondary: #6366f1;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

@layer utilities {
  .bg-linear-to-b {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  }
}
